//font
$Montserrat:  'Montserrat', sans-serif;

//NAVBAR
$social-background-color: #494a45; //NAVBAR-on lévő social media objektumok
$navbar-background-color: #5e5d5b; //Navbar legürdölő színe mobilon

//banner-slider
$banner-slider-default: #436460;   //10,500$ ára
$banner-slider-benefactor: #9c684e; //25 ára
$banner-slider-platinum: #71ad9e; //50$ ára
$banner-slider-diamond: #6a8b5c; //100$ ára

$content-default:  #3a3939; //Gomb színe active nélkül
$content-active: #2c2a29;   //Gomb színe active osztállyal
