//font
$Montserrat:  'Montserrat', sans-serif;

//NAVBAR
$social-background-color: #494a45; //NAVBAR-on lévő social media objektumok
$navbar-background-color: #5e5d5b; //Navbar legürdölő színe mobilon