body {
    background-image: url("/../fundit/images/basic-image/body-background-image.jpg");
}

.container-fluid-all {
    width: 80%;
}


@media (max-width: 530px) {
    .hidden {
        display: none;
    }
}


@media (min-width: 531px) and (max-width: 767px) {
        .hidden-sm {
            display: none;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
        .hidden-md {
            display: none;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
        .hidden-lg {
            display: none;
        }
}

@media (min-width: 1200px) {
        .hidden-xl {
            display: none;
        }
}