.footer-info {
    padding: 10px 15px;
    display: block;
    background-color: $content-active;
    text-shadow: 0 0 1px #fff;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
