.image-slider__social-media,
.fundit-navbar {
    .social-media {
        width: auto;
        left: auto;
        position: static;
        text-align: center;
        margin-bottom: 10px;

        &--image-slider {
            position: absolute;
            top: 50px;
            left: -50px;
            z-index: 1010;
        }

        &__listing {
            background-color: $social-background-color;
            display: inline-flex;
            padding: 0;
            margin: 0;

            &--image-slider {
                display: block;
            }
        }

        &__twitter {
            background: url("../fundit/images/basic-image/social_icons.png") no-repeat;
            height: 50px;
            width: 50px;
            display: block;
        }

        &__facebook {
            background: url("../fundit/images/basic-image/social_icons.png") no-repeat 0 -50px;
            height: 50px;
            width: 50px;
            display: block;
        }

        &__google {
            background: url("../fundit/images/basic-image/social_icons.png") no-repeat 0 -150px;
            height: 50px;
            width: 50px;
            display: block;
            position: relative;
            top: 5px;
        }
    }

    &__header-logo {
        margin: 15px 0;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .image-slider__social-media,
    .fundit-navbar {
        &__header-logo {
            text-align: left;
        }
    }

    .fundit-navbar {
        padding: 35px 0 15px 0;
    }
}


.fundit-navbar-complete {
    margin-bottom: 15px;

    .navbar {
        border-radius: 10px;
        background-color: $navbar-background-color;

        .navbar-brand {
            font-size: 14px;
        }

        .navbar-toogler {
            padding: 0;
            height: 30px;
        }

        .navbar-toggler-icon {
                height: 20px;
        }

        .navbar-nav {
            font-size: 13px;
        }
    }
}


@media (min-width: 992px) {
    .fundit-navbar-complete {
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;


        .navbar {
            background-color: transparent;
            padding-right: 0;
        }


        .navbar-nav {
            .nav-link {
                padding: 20px 14px;
                background-color: rgba(0,0,0,0.4);
                font-size: 18px;
                color: #fff;
                margin-right: 1px;

                &.active {
                    background-color: #6a8b5c;
                }

                &:hover {
                    background-color: #6a8b5c;
                }
            }
        }
    }
}